
@media (min-width: 1200px){
  .navbar-vertical-aside-show-xl .main {
    padding-left: 360px;
  }
}

.navbar-vertical-aside-show-xl .main {
  height: 100%;
  min-height: 100vh;
  background-color: #F9FAFC;
}

.border-popup {
  border-radius: .75rem !important;
}
