.search-page .img-profile {
    height: 280px;
    object-fit: cover;
}

.search-page .card-title {
    color: #ffffff;
 }

.search-page .card-title i {
    color: #377dff;
}

.search-page .card-img-custom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-image: linear-gradient(to top,rgba(0,0,0,.6) 0%,rgba(0,0,0,.4428) 26%,rgba(0,0,0,.3246) 39%,rgba(0,0,0,.2292) 52%,rgba(0,0,0,.1668) 60.5%,rgba(0,0,0,.1164) 68%,rgba(0,0,0,.0756) 76%,rgba(0,0,0,.045) 87.2%,rgba(0,0,0,.0252) 90.1%,rgba(0,0,0,.0126) 101%,rgba(0,0,0,.0048) 95.2%,rgba(0,0,0,.0012) 98.2%,transparent 100%);
}
