.encouter-page .photo {
    min-height: calc(100vh - (70px + 100px));
}

.encouter-page .photo .card-body-height {
    height: calc(100vh - (70px + 100px));
}

.encouter-page .carousel-inner {
    border-radius: 0.75rem 0 0 0.75rem;
}

@media (max-width: 992px) {
    .encouter-page .carousel-inner {
        border-radius: 0.75rem;
    }
}

.encouter-page .carousel-item img {
    object-fit: cover;
    height: calc(100vh - (70px + 100px));
}

.encouter-page .carousel-indicators {
    bottom: unset;
    top: 0;
}

.encouter-page #actions {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.encouter-page #actions button {
    width: 70px;
    height: 70px;
    margin-right: 30px;
    padding: 12px;
    border: 0;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    cursor: pointer;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
}

.encouter-page #actions button:hover {
    transform: scale(1.14);
}

.encouter-page #actions button:disabled {
    transform: unset;
    opacity: 0.4;
}

.encouter-page #actions button i{
    font-weight: 700;
    font-size: 40px;
}

.encouter-page #actions button i.tio-heart {
    color: #F99DF0;
}

.encouter-page #actions button i.tio-restore {
    color: #FFB603;
}

.encouter-page #actions button i.tio-clear {
    color: #FE3476;
}

.encouter-page #actions button i.tio-star {
    color: #29B9FF;
}

.encouter-page #actions button i.tio-favorite-comment {
    color: #9B4ED9;
}
